.container {
  display: flex;

  h2 {
    position: absolute;
    left: 192px;
    display: flex;
    line-height: 3.25rem;
    color: var(--gray-400);
    font-size: 2rem;
    font-weight: 700;
    font-family: ubuntu;
    padding: 1rem 0;
  }

  h2::before {
    content: '';
    width: 5px;
    height: 30px;
    display: inline-flex;
    position: absolute;
    margin-left: -20px;
    margin-top: 11px;
    background: #28f5be;
}

  .content-card {
    margin-top: 8rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card{
      background: opacity($color: #fff);
      margin: 2rem 2rem;
      display: flex;
      flex-direction: column;
      width: 400px;
      border-radius: 46px;
      transition: 0.2s;

      span {
        padding: .2rem;
        text-align: center; 
        color: var(--gray-400);
        font-size: 1.575rem;
        line-height: 2.188rem;
        font-weight: 500;
        font-family: ubuntu;
      }

      img {
        border-radius: 46px;
        width: 100%;
        padding: 1rem 0;
      }
    }
    .card:hover {
      transform: scale(1.1);
    }
  }
}
