.Skills{
  display: flex;
  justify-content: space-between;
  height: 80vh;

  h2 {
    line-height: 3.25rem;
    color: var(--gray-400);
    font-size: 2rem;
    font-weight: 700;
    font-family: ubuntu;
    padding: 1rem 0;
    position: absolute;
    left: 192px;
  }

  h2::before {
    content: '';
    width: 5px;
    height: 30px;
    display: inline-flex;
    position: absolute;
    margin-left: -20px;
    margin-top: 11px;
    background: #28f5be;
}

  .icons {
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin-left: 12rem;
    
    img {
    // opacity: 0.6;
    // filter: grayscale(100%);
    width: 100px;
    height: 100px;
    padding: .3rem
    }

  }

  .Coding {
    img {
      margin-right: 5rem;
      margin-top: 2rem;
      width: 600px;
      height: 600px;
    }
  }
}